[submodule "following_tutorial/postgres-postgrest-cloudflared-example"]
	path = following_tutorial/postgres-postgrest-cloudflared-example
	url = https://github.com/cloudflare/postgres-postgrest-cloudflared-example.git
